definitions:
  dao.ReqRegister:
    properties:
      address:
        type: string
      avatar:
        type: string
      birthday:
        type: string
      communityId:
        type: integer
      email:
        type: string
      password:
        type: string
      phone:
        type: string
      remark:
        type: string
      sex:
        type: string
      username:
        type: string
    type: object
  response.Res:
    properties:
      code:
        type: integer
      data:
        type: object
      error:
        type: string
      msg:
        type: string
    type: object
info:
  contact: {}
  license: {}
paths:
  /billboard:
    get:
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Res'
      summary: 获取宣传栏
      tags:
      - App
  /checkDisaster:
    get:
      parameters:
      - description: userId
        in: query
        name: userId
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Res'
      summary: 检查灾难是否发生
      tags:
      - App
  /getDisasterTypeList:
    get:
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Res'
      summary: 获取灾害类型
      tags:
      - App
  /getRefuge:
    get:
      parameters:
      - description: userId
        in: query
        name: userId
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Res'
      summary: 获取避难所信息
      tags:
      - App
  /getRefugeFacility:
    get:
      parameters:
      - description: userId
        in: query
        name: userId
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Res'
      summary: 获取避难设施信息
      tags:
      - App
  /getkonwledge:
    get:
      parameters:
      - description: disasterTypeId
        in: query
        name: disasterTypeId
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Res'
      summary: 根据灾害类型获取科普知识
      tags:
      - App
  /register:
    post:
      parameters:
      - description: body
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/dao.ReqRegister'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/response.Res'
      summary: 注册
      tags:
      - App
swagger: "2.0"
